.card {
  position: relative;
  width: 200px; /* Largura do card */
  height: 300px; /* Altura do card */
  margin: 10px;
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Impede que o conteúdo ultrapasse as bordas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; /* Transições suaves */
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada no hover */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço do card */
  transition: transform 0.6s ease-in-out;
}

.card:hover img {
  transform: scale(1.1); /* Efeito de zoom leve no hover */
}

/* Degradê escuro na parte inferior do card */
.card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%; /* Altura fixa do degradê */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 1; /* Garante que o degradê fique abaixo do conteúdo do texto */
}

.card-content {
  position: absolute;
  bottom: 10px; /* Posiciona o conteúdo na parte inferior do card */
  left: 0;
  width: 100%;
  padding: 0 10px; /* Espaçamento interno */
  text-align: center; /* Alinha o texto ao centro */
  z-index: 2; /* Garante que o texto fique acima do degradê */
}

.card h1, .card h2 {
  margin: 5px 0; /* Espaçamento entre nome e autor */
  color: #fff; /* Cor do texto branco para contraste */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Sombra no texto para legibilidade */
}

.card h2 {
  font-size: 1em;
}

.placeholder-image {
  width: 100%;
  height: 300px; /* Altura para preencher o card */
  background-color: #eaeaea; /* Cor de fundo quando não há imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 14px;
}