:root {
  --primary-color: #0d47a1;
  --secondary-color: #bbdefb;
  --background-color: #f0f2f5;
  --text-color: #333;
  --hover-color: #e3f2fd;
  --error-color: #e57373;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 100%;
  height: calc(100vh - 90px); /* Ajusta para a altura total da tela menos o cabeçalho */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
}

/* Estilo do card principal que contém a imagem e os detalhes do livro */
.book-details-card {
  display: flex;
  flex-direction: column; /* Organiza os elementos internos em coluna */
  height: 100%; /* Faz o card crescer para ocupar a altura disponível */
}

/* Ajusta a imagem para ser responsiva e manter a proporção */
.book-cover {
  width: 60%; /* Faz a imagem ser responsiva na largura */
  object-fit: cover; /* Mantém a proporção da imagem */
  border-radius: 0; /* Se preferir, remova o arredondamento das bordas da imagem */
}

/* Estilos para a descrição do livro */
.book-description {
  overflow: auto; /* Adiciona barra de rolagem se o conteúdo for muito grande */
  margin-top: auto; /* Empurra a descrição para baixo se houver espaço */
}

/* Estilo para a lista de capítulos */
.chapter-list-card {
  height: 100%; /* Faz o card dos capítulos crescer para ocupar a altura disponível */
  overflow: auto; /* Adiciona barra de rolagem se o conteúdo for muito grande */
}

/* Estilo do card individual do capítulo */
.chapter-card {
  flex: none; /* Evita que o card do capítulo cresça e ocupe mais do que o necessário */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilha os cards verticalmente em dispositivos móveis */
  }

  .book-details-card, .chapter-list-card {
    height: auto; /* Altura automática para dispositivos móveis */
    max-width: none;
  }
}
