/* FlipPage.css */
.flipbook-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 50px 0; /* Adiciona um pouco de espaço no topo e na parte inferior */
  }
  
  .settings-panel {
    width: 300px;
    height: 100%; 
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 25px;
    margin-right: 20px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .flipbook-content {
    flex-grow: 1;
    max-width: 75%;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 25px;
    overflow-y: auto;
    height: 90vh; /* Limita a altura para manter tudo alinhado verticalmente */
    margin-bottom: 20px;
  }
  
  .settings-card {
    width: 250px; /* Largura fixa para todos os cards */
    height: 100%; /* Ocupa toda a altura disponível */
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 25px;
    margin-right: 20px; /* Espaço entre o painel de configurações e o conteúdo */
    display: flex;
    flex-direction: column;
  }
  
  .flipbook-content h3 {
    position: -webkit-sticky; /* Para compatibilidade com o Safari */
    margin-bottom: 20px; /* Espaço extra entre o título e o conteúdo */
    text-transform: uppercase; /* Deixa o texto em caixa alta */
    font-size: 28px;
    position: sticky;
    top: 0;
    background-color: #f9f9f9; /* Cor de fundo para garantir visibilidade */
    z-index: 2; /* Garante que fique acima do conteúdo ao rolar */
    padding: 10px;
    margin: 0; /* Remove a margem padrão */
    border-radius: 20px 20px 0 0; /* Arredonda apenas os cantos superiores */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para destaque */
}

.navigation-buttons {
    position: -webkit-sticky; /* Para compatibilidade com o Safari */
    position: sticky;
    bottom: 0;
    background-color: #f9f9f9; /* Cor de fundo para garantir visibilidade */
    z-index: 2; /* Garante que fique acima do conteúdo ao rolar */
    padding: 10px 0;
    border-radius: 0 0 20px 20px; /* Arredonda apenas os cantos inferiores */
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Sombra suave para destaque */
    display: flex;
    justify-content: space-between;
  }

  .settings-control {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os botões */
  }
  
  .settings-control button, .font-family button, .dark-mode-toggle {
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px 0; /* Margem para separar os botões */
    width: 100%; /* Faz com que os botões ocupem toda a largura do card */
    font-weight: bold; /* Deixa o texto dos botões mais destacado */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .settings-control button:hover, .font-family button:hover, .dark-mode-toggle:hover {
    transform: scale(1.05); /* Efeito de hover sutil para os botões */
  }
  
  .font-family button.active, .dark-mode-toggle.active {
    background-color: #28a745; /* Cor de destaque para botões ativos */
  }
  
  .close-button {
    align-self: flex-end; /* Posiciona o botão de fechar no canto superior direito */
    background-color: #dc3545; /* Cor de destaque para o botão de fechar */
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    margin: -20px -20px 20px 20px; /* Ajusta a posição para fora do card */
    cursor: pointer;
    font-size: 16px;
  }
  
  .dark-mode .settings-panel, .dark-mode .flipbook-content {
    background-color: #333; /* Fundo para modo escuro */
    color: #FFFFFF; /* Texto para modo escuro */
  }


  .dark-mode .settings-control button, .dark-mode .font-family button, .dark-mode .dark-mode-toggle, .dark-mode .close-button {
    background-color: #555; /* Botões mais escuros no modo escuro */
  }
  
  .settings-panel h1 {
    margin-bottom: 20px; /* Espaço extra entre o título e o conteúdo */
    text-transform: uppercase; /* Deixa o texto em caixa alta */
    font-size: 28px;
    background-color: aqua;
  }