/* Em Header.css */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.header-container.menu-open {
  background-color: rgba(255, 255, 255, 0.9);
}

.header-container .left-section,
.header-container .right-section {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 20px;
  color: #333;
  border-bottom: 2px solid #007bff;
}

.search-bar-container {
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.menu-button,
.login-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.menu-button:hover,
.login-button:hover {
  color: #007bff;
}

.fa-envelope,
.fa-user {
  margin: 0 10px;
}

.fa-envelope:hover,
.fa-user:hover {
  transform: scale(1.2);
}

.nav-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-menu.show {
  display: flex;
  opacity: 1;
  align-items: center;
}

.nav-menu.open {
  display: flex;
  opacity: 1;
  align-items: center;
}

.nav-menu a,
.login-button a {
  color: #333;
  text-decoration: none;
}


.right-section {
  transition: transform 0.3s ease;
}

.right-section.show {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .right-section {
    transform: translateX(100%);
  }

  .header-container.menu-open .right-section {
    transform: translateX(0);
  }
}

/* Melhorias na responsividade */
@media (max-width: 768px) {
  .header-container .left-section {
    flex-grow: 1;
    justify-content: space-between;
  }

  h1 {
    font-size: 18px;
    margin-right: 10px;
  }

  .search-bar-container {
    display: none;
  }

  .menu-button,
  .login-button {
    margin-right: 0;
  }

  .header-container.menu-open {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-menu a {
    display: block;
    padding: 10px 0;
  }

  .nav-menu.open {
    display: block;
    opacity: 1;
    align-items: flex-start;
  }
}