/* Em SearchBar.css */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza a barra de pesquisa */
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto; /* Adiciona esta linha para centralizar a barra de pesquisa */
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  width: 500px;
}

/* Adiciona um estilo ao botão de pesquisa */
button {
  background-color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  padding: 10px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
